#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    margin: 0px;
    z-index: 12345678;
    /*min-height: 100%;
    /width: 100%;*/
}

.container {
    padding-top: 10px;
 /* Only include this for the fixed top bar */
    margin-left: 15px;
}

#track-record {
    font-size: 20px;
}

.form-group {
    max-height: 100px;
    overflow-y: auto;
            /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

#navbar {
    background: #0732a2;
}

.modal-body {
    overflow-y: auto;
    max-height: 500px;
}
        